@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
}


/*medicina estetica */
h1{
	color: white;
	font-size: 48px;
	font-family: Lato;
	font-weight: 700;
	word-wrap: break-word;
}

/* tratamientos */
h3{
	color: white;
	font-size: 26px;
	font-family: Bitter;
	font-weight: 500;
	word-wrap: break-word;
}

/* nosotras */
h4{
	color: #1C8087;
	font-size: 33px;
	font-family: Bitter;
	font-weight: 700;
}

/* crecimiento personal y experiencia */

h5{
	color: #1C8087;
	font-size: 18px;
	font-family: Bitter;
	font-weight: 400;
}

/* adriana serra*/

h6{
	color: white;
	font-size: 20px;
	font-family: Bitter;
	font-weight: 700;
}


p {
	color: #1C8087;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; /* 36.7px */
}



/*** HEADER ****/

header {
	display:flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 120px;
	gap: 780px;
	background-color:#1C8087;
	box-sizing: content-box;
}


header button {
	background-color:#1C8087;
	border-color: transparent;
}

.isoheader{
	width: 119px;
	height: 74px;
}

/* probarlo en html */
/* lo pasé a html 08/10*/

.nav-botonera{
	display: flex;
	align-items: center;
	width: auto;
	gap: 56px;
	align-self: stretch;
}

.botonera {
	display: flex;
	justify-content: center;
	list-style: none;
}

.botonera a {
	display: flex;
	justify-content: center;
	text-decoration:none;
	font-family: Lato;
	font-size: 20px;
	padding: 10px 25px 10px 50px;
	color: #FFF;
	transition: 0.5s;
	object-fit: cover;
}


.botonera a:hover{
	transform: scale(1.2);
}


/*** INDEX ***/
.contenedor-bienvenida{
	background: url("img/portada-index.jpg"), lightgray -43.638px -421.334px / 104.044% 165.774% no-repeat;
	background-size: cover;
}
.bienvenida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 804px;
	gap: 20px;
	
}

.bienvenida img {
	width: 292.228px;
	height: 179.125px;
	padding-right: 10%
	
}

.bienvenida h1 {
	font-size: 48px;
	padding-right: 70px;
	margin-bottom: -20px;
	margin-top: -20px;

}

.bienvenida h2 {
	font-size: 40px;
	padding-right: 10%;
}

.bienvenida button {
	height: 66px;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;
	padding: 0% 2%;
	color: #FFF;
	margin-right: 12%;
}
.bienvenida button a{
	color: #FFF;
	font-family: Bitter;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}


/*RESEÑAS<*/
.contenedor-resena{
	width: 100%;
	display: flex;
	padding:20px;
	background-color: #1C8087;
	flex-direction: column;
	box-sizing: border-box;
}


.contenedor-resena h3{
	padding: 10px;
}


.slider-resena {
	width: 100%;
	max-width: 1920px;
	height: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow:auto;
	scroll-behavior:smooth;
	background-color: #1C8087;
	gap: 20px;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DC8A84;
	width: 200px;
	border-radius: 10px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DC8A84
}


.resena {
	min-width: 322px;
	height: 165px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 19px;
	padding: 25px 0px;
}


.resena img {
	height: 68px;
	width: 68px;
	object-fit: cover;
	border-radius: 50%
}


.info-resena {
	height: 208;
	width: 235;
	display: flex;
	flex-direction: column;
	color: white;
	gap: 8px;
}

.info-resena p{
	color: white;
	}

.circulos {
	height: 12px;
	width: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.circulo-si {
	height: 12px;
	width: 12px;
	background-color: #DC8A84;
	border-radius: 50%;
}

.circulo-no {
	height: 12px;
	width: 12px;
	background-color: #FFEDE3;
	border: 50px;
	border-radius: 50%;
}



/*ESTO TOMA TODOS LOS DIV OJO!!!!!<*/
/*div {
	display: flex;
	flex-direction: column;
	margin: 80px 40px 40px 40px;
	gap: 25px;
}
<*/


h1 {
	color: #FFF;
	text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.10);
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	flex-shrink: 0;
	filter: drop-shadow(2px 8px 4px rgba(0, 0, 0, 0.10));
	font-family: Lato;
	color: #FFF;
}

/* doctoras */

.nosotras {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 830px
}


/*TRATAMIENTOS*/

.tratamientos-html {
	display: flex;
	width: 1919px;
	height: 167px;
	padding: 0px 110px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 17px;
	flex-shrink: 0;
}

.tratamientos-html h5{
	color: #1C8087;
}

.medicina-estetica {
	display: flex;
	width: 1919px;
	padding: 68px 107px 86px 110px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 13px;
}

.medicina-estetica h5 {
	color: #1C8087;
}

.medicina-estetica p {
	width: 30%;
}

.medicina-estetica button {
	width: 230px;
	height: 66px;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;
	padding: 0% 2%;
	color: #FFF;
	margin-right: 12%;
}
.medicina-estetica button a{
	color: #FFF;
	font-family: Bitter;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

/*QUIENES SOMOS*/

.clase-quienessomos {
	display: flex;
	flex-direction: column;
	margin: 50px 70px 0px 50px;;
}

.clase-quienessomos h5{
	color: #1C8087;
}

.doctoras-quienessomos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px 100px;
}


.doctoras-quienessomos h5 {
	color: #1C8087;
}

.doctora1-quienessomos h4, h5 {
	color: #DC8A84;
}

.doctora2-quienessomos h4, h5 {
	color: #DC8A84;
}

.doctora1-quienessomos {
	display: flex;
	width: 575px;
	height: 857px;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 10px;
	margin-left: 10%;
	gap: 23px;
}

.doctoras-quienessomos img {
	border-radius: 100%;
	width: 234px;
	height: 234px;
}

.doctora1-quienessomos ul{
	color: #1C8087;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 171%; /* 34.2px */
	width: 424px;
	height: 468px;
	flex-shrink: 0;
	}

.doctora2-quienessomos {
	display: flex;
	width: 541px;
	height: 827px;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 24px;
	gap: 23px;
}

.doctora2-quienessomos ul{
	color: #1C8087;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 171%; /* 34.2px */
	width: 430px;
	height: 451px;
	flex-shrink: 0;
}

.article-video {
	display: flex;
	padding: 70px 55px 0px 150px;
	margin: 50px;
	align-items: center;
	gap: 10%;
}

video {
	border-radius: 25px;
}

.article-video p{
	width: 95%;
}


.article2-quienessomos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 23px;
}

.article2-quienessomos h5 {
	color: #1C8087;
}

.article2-quienessomos button {
	height: 66px;
	width: 230px;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;
	padding: 0% 2%;
	color: #FFF;
	margin-top: 25px;
	margin-right: 12%;
}

.article2-quienessomos button a{
	color: #FFF;
	font-family: Bitter;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.contenedoresquienessomos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	padding: 0px 60px 60px 60px;
	box-sizing: border-box;
	gap: 145px;
	
}

.contenedoresquienessomos li{
	display: flex;
	flex-direction: row;
	gap:30px;
	flex: 1
}

.contenedoresquienessomos img{
	align-self: flex-start
}

.contenedoresquienessomos h5{
	font-size: 25px;
	font-weight: 600;
	color:#1C8087
}

.contenedoresquienessomos p{
	font-size: 16px;
	line-height: 24px
}

.por-que-elegirnos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	height: 70%;
	gap: 40px;
	padding: 70px 70px 0px 70px;
}


.por-que-elegirnos h4 {
	padding: 13px 0px 13px 0px;
}

/* FORMULARIO DE CONTACTO */

#main-contacto {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 0px 0 10px 0;
	gap: 10%;
}

.contenedores-contacto {
	display: flex;
	padding-top: 5%;
	padding-left: 170px;
	margin-bottom: 70px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.formulario {
	padding-top: 20px;
	gap: 80%;
}

/*
article {
	display: flex;
	flex-direction: row;
	gap: 8px;
	padding: 0px 110px;
}
<*/

.enviesuconsulta {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 10px 10px;;
	width: 55%;
}

.enviesuconsulta h4{
	color: #1C8087;
	font-family: Bitter;
	font-size: 33px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding-bottom: 15px;
}

form {
	width: 90%;
	display: flex;
	flex-direction: row;
}

.nombre-apellido {
	height: auto;
	gap: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
}

form div p {
	color: #A8A8A8;
	font-family: Lato;
	font-size: 14.5px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	width: 58%;
	padding-top: 20px;
}

form label {
	padding-top: 20px;
}

label {
	display: block;
	color: #DC8A84;
	font-family: Bitter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 10px;
}

input {
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
	font-family: Bitter;
	font-weight: 800;
	border-radius: 26px;
	padding: 10px;
	box-sizing: border-box;
	border: 3px solid #DC8A84;
}

input[type=radio], input[type=checkbox] {
	width: auto;
	height: auto;
	border-radius: 30px;
}


input[type=submit], input[type=reset]{
	height: 66px;
	width: 160px;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;
	padding: 0% 2%;
	color: #FFF;
	margin-right: 12%;
	font-family: Bitter;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	margin-top: 20px;
}


textarea {
	width: 100%;
	height: 100px;
	font-family: Bitter;
	font-weight: 800;
	color: #636363;
	border-radius: 26px;
	padding: 10px;
	box-sizing: border-box;
	border: 3px solid #DC8A84;
}

#asunto {
	height: 42px
}

.nombre-apellido {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 40px;
}

.aside-contacto {
	display: flex;
	width: 472px;
	margin-top: 17%;
	margin-left: 10px;
	padding-top: 10px;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
	gap: 10px;
}

.aside-contacto h4 {
	color: #1C8087;
	font-family: Bitter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


.lista-contacto {
	background-color: #E57F78;
	list-style: none;
	display: flex;
	width: 90%;
	height: 25%;
	margin: 5px 10px 5px 0px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	gap: 20px;
	padding: 45px;
	border-radius: 30px;
}

.lista-contacto h4{
	color: #FFF6F1;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}

.lista-contacto li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.lista-contacto li div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 15px
}

@media screen and (max-width: 600px){
	
	#main-contacto {
		flex-direction: column;
		width: 90%;
		margin: 0px 0 10px 0;
		gap: 10%;
	}
	
	.contenedores-contacto {
		display: flex;
		padding-top: 15%;
		padding-left: 80px;
		margin-bottom: 70px;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
	
	.aside-contacto {
		display: flex;
		width: 70%;
		margin-top:  7px;
		margin-left: 78px;
		margin-bottom: 20px;
		padding-top: 10px;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	
	
}




/*SUCURSAL*/

.sucursal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 40%;
	padding: 68px 20px 0px 100px;
	gap:40px;
}

.sucursal p {
	width: 70%;
}

.sucursal button {
	height: 66px;
	width: 230px;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;
	padding: 0% 2%;
	color: #FFF;
	margin-right: 12%;
}
.sucursal button a{
	color: #FFF;
	font-family: Bitter;
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}


.texto-sucursal {
	display: flex;
	flex-direction: row;
}

#miniaturas {
	display: flex;
	flex-direction: row;
}

.imagenes {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	margin-top: 90px;
}

.imagenes2 {
	display: flex;
	flex-direction:column;
	gap: 20px;
	padding-left: 30px;
	margin-right: 30px;
}

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

/*HAY QUE AGREGAR ESTAS IMAGENES CON EL TAMAÑO COMÚN, NO CON EL QUE NOS DICE FIGMA*/

#foto-1 {
	background-image: url("img/sucursal1.jpg");
}

#foto-2 {
	background-image: url("img/sucursal2.jpg")
}

#foto-3 {
	background-image:url("img/sucursal3.jpg");
}

.mapa-seccion {
	display: flex;
	padding: 68px 20px 0px 100px;
	align-items: flex-start;
	flex-direction: column;
	margin-right: 20px;
	gap:50px;
}

.mapa-seccion h4 {
	color: #1C8087;
	font-family: Bitter;
	font-size: 33px;
	font-style: normal;
	font-weight: 700;
}

.mapa {
	width: 100%;
	margin-bottom: 90px;
}


@media screen and (max-width: 600px){
	
	.texto-sucursal {
		display: flex;
		flex-direction: column;
	}
	
	.sucursal p {
		width: 140%;
	}
	
	.imagenes {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
	}
	
	#miniaturas {
		display: flex;
		flex-direction: column;
		max-width: 10%;
		gap: 5px;
	}
	
	.imagen1 {
		width: 10%;
	}
	
	.imagenes2 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	
	#galeria-oculta {
		max-width: 350px;
	}
	
	.fraccion-galeria {
		min-width: 350px;
	}
	
	.close {
		top: 50px;
		right: 5%
	}
	
}


/* CARDS */


#cards {
	display: flex;
	justify-content:space-evenly;
	padding-top: 80px;
	padding-bottom: 100px;
	background:rgba(229,127,120,1.00);
	align-items: center;
	
}
/*facial*/

.facial{
	background-image:url("img/facial.jpg");
	background-size: cover;
	padding: 45px 0px;
	border-radius: 20px;
	position: relative;
	height: 100px;
	width: 380px
}
.facial .front{
	transition: all 500ms ease-out;
	} 
.facial .front h3{
	position:absolute;
	padding-left: 20px;
	padding-top: 15px;
	bottom:0;
	color: white;
	font-size: 20px;
	font-family: Bitter;
	background: rgba(229, 127, 120, .5);
	width: 100%;
	height: 35px;
	right: -16px;}

.facial .back {
	border-radius: 20px;
	right: 0;
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(255,246,241,1.00);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: justify-all;
	}

.facial .back p{
	font-size: 15px;
	line-height: 20px;
	margin-top: 15%;
	margin-left: 45px;
	width: 80%;
	height: 50%;

}

.facial:hover .back {
	opacity: 1;
	visibility: visible;

	}

/*corporal*/

.corporal{
	background-image:url("img/corporal.jpg");
	background-size: cover;
	padding: 45px 0px;
	border-radius: 20px;
	position: relative;
	height: 100px;
	width: 380px
}
.corporal .front{
	transition: all 500ms ease-out;
	} 
.corporal .front h3{
	position:absolute;
	padding-left: 20px;
	padding-top: 15px;
	bottom:0;
	color: white;
	font-size: 20px;
	font-family: Bitter;
	background: rgba(229, 127, 120, .5);
	width: 100%;
	height: 35px;
	right: -16px;}

.corporal .back {
	border-radius: 20px;
	right: 0;
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(255,246,241,1.00);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: justify-all;
	}

.corporal .back p{
	font-size: 15px;
	line-height: 20px;
	align-items: center;
	margin-top: 15%;
	margin-left: 40px;
	width: 80%;
	height: 50%;

}

.corporal:hover .back {
	opacity: 1;
	visibility: visible;

	}
/*integral*/

.integral{
	background-image: url("img/integral.jpg");
	background-size: cover;
	padding: 45px 0px;
	border-radius: 20px;
	position: relative;
	height: 100px;
	width: 380px
}
.integral .front{
	transition: all 500ms ease-out;
	} 
.integral .front h3{
	position:absolute;
	padding-left: 20px;
	padding-top: 15px;
	bottom:0;
	color: white;
	font-size: 20px;
	font-family: Bitter;
	background: rgba(229, 127, 120, .5);
	width: 100%;
	height: 35px;
	right: -16px;}

.integral .back {
	border-radius: 20px;
	right: 0;
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(255,246,241,1.00);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: justify-all;
	}

.integral .back p{
	font-size: 15px;
	line-height: 20px;
	align-items: center;
	margin-top: 15%;
	
	margin-left: 40px;
	width: 80%;
	height: 50%;

}
.tensores img {
	padding: 45px 0px;
	border-radius: 20px;
	position: relative;
	}

	/*opacity: 1;
	visibility: visible;

	}

/* FOOTER */


nav ul{
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	list-style: none;
}

nav ul li {
	list-style: none;
}

footer {
	background-color: #1C8087;
	display: flex;
	padding: 35px 91px 42px 91px;
	align-items: flex-end;
	justify-content: space-between;
	gap: 30%;
	width: 100%;
	box-sizing: border-box;
}

footer p {
	color: #ffffff;
	font-family: Lato;
	font-size: 14.5px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 5px 10px 5px 10px;
}

div footer {
	display: flex;
	padding: 0px 77px;
	justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
	align-self: stretch;
}

.contactofooter {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 50%;
	list-style: none
}

.contactofooter img {
	width: 40px;
	height: 40px;
}



/*ESTO NO HACE NADA */

a footer{
	color: #ffffff;
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}




@media screen and (max-width: 600px){
	footer {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		gap: 15px;
		background: #1C8087;
		padding-top: 20px;
	}
	
	
	.contactofooter {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 60px;
		padding-top: 30px;
	}
	
	footer p {
		display: flex;
		padding-top: 20px;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		gap: 5px;
	}
}
/*CARRUSEL TRATAMIENTOS*/


#carruseltr {
	display: flex;
	overflow: hiden;
	padding-top: 80px;
	padding: 80px 0px 10px;
	align-items: center;
	gap:80px;
}
/*hilos tensores*/
.tratamientott{
	
	padding: 85px 15px;
}
.hilos{
	padding: 45px 0px;
}
.hilos .front img {
	border-radius: 20px;
	position: relative;
}
.hilos .back {
	border-radius: 20px;
	background:#DC8A84;
	position:absolute;
	top:50%;
	height: 350px;
	width: 350px;
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	}

.hilos .back h3{
	color: #FFF6F1;
	font-size: 20px;
	justify-content: center;
	margin-left: 10%;
	margin-top: 30px;
}

.hilos .back h4{
	color: #FFF6F1;
	font-size: 14px;
	justify-content: center;
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 25px;
}
.back ul li{
	list-style: none;
}
.hilos ul li h5{
	color: #FFF6F1;
	font-size: 15px;
	justify-content: center;
	margin-left: 25%;
	margin-top: 15px;
	
}

.back ul li p{
	width: 60%;
	color: #FFF6F1;
	font-size: 15px;
	justify-content: center;
	margin-left: 10%;
	margin-top: 15px;
	line-height: 20px;
	
}

.back p{
	width: 60%;
	color: #FFF6F1;
	font-size: 15px;
	justify-content: center;
	margin-left: 10%;
	margin-top: 15px;
	line-height: 20px;
	
}
.hilos:hover .back {
	opacity: 1;
	visibility:visible;
}

.flechas .control{
	display: flex;
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(220,138,132,0.60);
	border-radius: 50%;
	cursor: pointer;
	object-fit: cover;
	padding: 5px;
	z-index: auto;

}
#next {
	right: 50%;
	
}
 
.flechas.control .next{
	left: 100%;
	top:50%;
	transform: translate(50%, -0%);
}
