@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

/*medicina estetica */
h1{
	color: white;
	font-size: 48px;
	font-family: Lato;
	font-weight: 700;
	word-wrap: break-word;
}

/*            */
h2(está en svg)

/* tratamientos */
h3{
	color: white;
	font-size: 26px;
	font-family: Bitter;
	font-weight: 500;
	word-wrap: break-word;
}

/* nosotras */
h4{
	color: #DC8A84;
	font-size: 33px;
	font-family: Bitter;
	font-weight: 700;
	word-wrap: break-word;
}

/* crecimiento personal y experiencia */

h5{
	color: #DC8A84;
	font-size: 18px;
	font-family: Bitter;
	font-weight: 400;
	word-wrap: break-word;
}

/* adriana serra*/

h6{
	color: white;
	font-size: 20px;
	font-family: Bitter;
	font-weight: 700;
	word-wrap: break-word;
}


p {
	width: 688px;
	color: #1C8087;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 183.5%; /* 36.7px */
	font-variant: all-small-caps;
}



/*** HEADER ****/

header{
	display:flex;
	flex-direction: row;
	padding: 0px 20px;
	gap: 720px;
	width: 100%;
	background-color:#1C8087;
}


button {
	background-color:#1C8087;
}

svg{
	width: 119px;
	height: 74px;
}

/* probarlo en html */
/* lo pasé a html 08/10*/

.nav-botonera{
	display: flex;
	align-items: center;
	gap: 56px;
	align-self: stretch;
}

.botonera {
	display: flex;
	justify-content: center;
	list-style: none;
}

.botonera a {
	display: flex;
	justify-content: center;
	gap: 10px;
	text-decoration:none;
	font-family: Lato;
	font-size: 21px;
	padding: 10px 20px 10px 20px;
	color: #FFF;
	transition: 0.5s;
	object-fit: cover;
}


.botonera a:hover{
	transform: scale(1.2);
}


/*** INDEX ***/

.bienvenida{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	height: 804px;
	padding: 100px 144px 500px 0px;
	background: url("img/portada-index.jpg"), lightgray -43.638px -421.334px / 104.044% 165.774% no-repeat;
	background-size: cover;

}

.tratamientos-boton {
	display: flex;
	width: 278px;
	height: 66px;
	align-items: center;
	flex-shrink: 0;
	border-radius: 36px;
	border: 2px solid #FFF;
	background: #DC8A84;

}

.tratamientos-boton h3 {
	color: #FFF;
	font-family: Bitter;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

div{
	display: flex;
	flex-direction: column;
	margin: 80px 40px 40px 40px;
	gap: 25px;
}

img {
	width: 292.228px;
	height: 179.125px;
	filter: drop-shadow(0px 13px 15px rgba(0, 0, 0, 0.10));
}

h1 {
	width: 470.981px;
	color: #FFF;
	text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.10);
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	width: 337.916px;
	height: 38.7px;
	flex-shrink: 0;
	filter: drop-shadow(2px 8px 4px rgba(0, 0, 0, 0.10));
	font-family: Lato;
	color: #FFF;
}

/* doctoras */

.nosotras {
	display: flex;
	padding: 71px 90px 71px 90px;
	flex-direction: column;
	align-items: center;
	gap: 46px;
	align-self: stretch;
	background-color: #FFF6F1;
	background: url("img/isorosa.svg"), lightgray 5202423269426839000px -6357820700931001000px / -345860893552552800% -923088283391648000% no-repeat, #FFF6F1;
}

.titulo {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}


.doctoras {
	display: flex;
	justify-content: center;
	align-items: center;
}

.doctoras img {
	width: 473px;
	height: 473px;
	border-radius: 100%;
}


.doctoras ul li {
	color: #1C8087;
	font-family: Lato;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 34.2px;
	max-width: 60%;
	font-variant: all-small-caps;
	
}

/* footer */
footer {
	background-color: #1C8087;
	display: flex;
	padding: 20px 91px 42px 91px;
	align-items: flex-end;
	gap: 366px;
	bottom: 0px;
	width: 100%;
}

footer p {
	color: #ffffff;
	font-family: Lato;
	font-size: 14.5px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 5px 10px 5px 10px;
}

div footer {
	display: flex;
	padding: 0px 77px;
	justify-content: space-between;
	align-items: flex-end;
	flex-shrink: 0;
	align-self: stretch;
}

.ul contactofooter {
	display: flex;
	flex-direction: row;
	width: 341px;
	align-items: center;
	gap: 67px;
	flex-shrink: 0;
}

.img contactofooter {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	width: 40px;
	height: 40px;
}

a footer{
	color: #ffffff;
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
